<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historical events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="groupedEvents$ | async as groupedEvents">
    <div *ngFor="let group of groupedEvents | keyvalue: keyDescOrder">
      <ion-item-divider color="warning" sticky="true">
        <ion-label>
          {{group.key}}
        </ion-label>
      </ion-item-divider>
      <ng-container *ngIf="group.value as events" [ngTemplateOutlet]="event"
        [ngTemplateOutletContext]="{events : events}">
      </ng-container>
    </div>
  </ng-container>
</ion-content>


<ng-template #event let-events="events">
  <ion-card *ngFor="let event of events">
    <ion-card-header>
      <ion-card-title color="primary">{{event.title}}</ion-card-title>
      <ion-card-subtitle>{{event.event_date_utc | date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{event.details}}</p>
      <ion-row class="pt-3 d-flex ">
        <div class="mr-auto">
          <ion-row>
            <ion-button *ngIf="event.links.wikipedia" color="success" expand="block" fill="outline" size="small"
              (click)="openLink(event.links.wikipedia)">
              <ion-icon slot="start" src="/../assets/icons/wikipedia.svg"></ion-icon>
              Wikipedia
            </ion-button>
            <ion-button *ngIf="event.links.reddit" color="success" expand="block" fill="outline" size="small"
              (click)="openLink(event.links.reddit)">
              <ion-icon slot="start" name="logo-reddit"></ion-icon>
              Reddit
            </ion-button>
            <ion-button *ngIf="event.links.article" color="success" expand="block" fill="outline" size="small"
              (click)="openLink(event.links.article)">
              <ion-icon slot="start" name="book"></ion-icon>
              Article
            </ion-button>
          </ion-row>
        </div>
        <ion-button *ngIf="event.flight_number" color="success" expand="block" fill="outline" size="small"
        [routerLink]="['launch/', event.flight_number]" routerDirection="forward">
          Launch
          <ion-icon class="pl-2" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ng-template>