<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot=start>
      <ion-button shape="round" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item-divider color="warning" sticky="true">
      <ion-label>
        API Info
      </ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-button class="ml-3 mt-2 mb-2"(click)="openLink('https://api.spacexdata.com/v3/')">
        https://api.spacexdata.com/v3
        <ion-icon class="pl-3" name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-note slot="end" class="d-none d-md-block">
        <ion-row class="m-2 bd-highlight">
          <ion-badge color="success">/v3</ion-badge>
        </ion-row>
        <ion-row class="m-2">
          <ion-badge color="success">API Info</ion-badge>
        </ion-row>
      </ion-note>
    </ion-item>
    <ion-item-divider color="warning" sticky="true">
      <ion-label>
        Company Info
      </ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-button class="ml-3 mt-2 mb-2" (click)="openLink('https://api.spacexdata.com/v3/info')">
        https://api.spacexdata.com/v3/info
        <ion-icon class="pl-3" name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-note slot="end" class="d-none d-md-block">
        <ion-row class="m-2">
          <ion-badge color="success">/v3/info</ion-badge>
        </ion-row>
        <ion-row class="m-2">
          <ion-badge color="success">Company Info</ion-badge>
        </ion-row>
      </ion-note>
    </ion-item>
  </div>
</ion-content>