// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.active-menu-item {
    border-left: 6px solid var(--ion-color-primary);
}
.countdown {
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
    position: relative;
}
.countdown img {
    position: absolute;
    left: 20px;
    top: 20px;
}