<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upcoming launches
      <ion-badge *ngIf="upcomingLaunches$ | async as launches" color="tertiary">{{launches.length}}</ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="upcomingLaunches$ | async as launches; else loading">
    <div *ngFor="let launch of launches">
      <ion-item-divider color="warning" sticky="true">
        <ion-label>
          {{launch.mission_name}}
        </ion-label>
      </ion-item-divider>
      <div class="pl-2 pt-2 pb-2">
        <ngx-json-viewer [json]="launch" [expanded]="false">
        </ngx-json-viewer>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <app-lottie-loader></app-lottie-loader>
</ng-template>