<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Missions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider sticky="true">
      <ng-container *ngIf="missions else loading">
          <ion-list>
            <ion-item-sliding *ngFor="let m of missions">
              <ion-item button [routerLink]="['/missions/', m.mission_id]" routerDirection="forward">
                  <ion-thumbnail slot="start">
                      <img src="../assets/badr.jpeg">
                  </ion-thumbnail>
                <ion-label class="d-inline">
                  <h2 class="note_title">{{m.mission_name}}</h2>
                  <p class="note_content">{{m.mission_id}}</p>
                  <p class="note_content">{{m.wikipedia}}</p>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
      </ng-container>
  </ion-item-divider>
</ion-content>

<ng-template #loading>
    <app-lottie-loader></app-lottie-loader>
</ng-template>