<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Next Launch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="nextLaunch$ | async as launch; else lottie_loader">
    <ion-card button [routerLink]="['/launches', launch.flight_number]" routerDirection="forward">
      <ion-card-header>
        <ion-card-subtitle>{{launch.launch_date_utc | date:'fullDate'}}</ion-card-subtitle>
        <ion-card-title>{{launch.mission_name}}</ion-card-title>
        <ion-note color="secondary">{{launch.launch_site.site_name_long}}</ion-note>x
      </ion-card-header>
      <ion-card-content>
        <p>{{launch.details}}</p>
        <ion-row class="pt-3 d-flex flex-row-reverse">
          <ion-button
            *ngIf="launch.rocket.first_stage.cores[0].landing_intent && launch.rocket.first_stage.cores[0].landing_vehicle"
            disabled="true" color="dark" expand="block" fill="outline" size="small">
            {{launch.rocket.first_stage.cores[0].landing_vehicle}}</ion-button>
          <ion-button disabled="true" color="dark" expand="block" fill="outline" size="small">
            {{launch.rocket.second_stage.payloads[0].orbit}}</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ng-template #loading>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text style="width: 20%"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-skeleton-text style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #lottie_loader>
  <app-lottie-loader></app-lottie-loader>
</ng-template>